<div>
  <div class="card" id="card-template">
    <a href="">
      <div class="card-image">
        <div class="card_image skeleton"></div>
        <a href="test" class="btn-floating halfway-fab favorite_btn"></a>
      </div>

      <div class="card-content">
        <span class="card-title"
          ><div class="skeleton skeleton-text"></div
        ></span>

        <div class="card_info_container">
          <div class="card_info">
            <div class="skeleton skeleton-text"></div>
          </div>
          <div class="card_info">
            <div class="skeleton skeleton-text"></div>
          </div>
          <div class="card_info">
            <div class="skeleton skeleton-text"></div>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
