<nav class="nav_larger">
  <div class="nav-wrapper">
    <ul id="nav-mobile" class="container nav_ul">
      <li class="nav_title hide-on-small-and-down nav_larger">
        <a href="/" class="a_icon">
          <div class="nav_title">
            <img class="logo" src="../../assets/images/Pocket Chef.png" />

            <h3>Pocket Chef</h3>
          </div>
        </a>
      </li>

      <li>
        <a href="/" class="a_icon"
          ><i class="material-icons nav_icon">home</i></a
        >
      </li>

      <!-- <li>
        <a href="/user" class="a_icon"
          ><i class="material-icons nav_icon">person</i></a
        >
      </li> -->
      <li>
        <a href="/add-recipe" class="a_icon"
          ><i class="material-icons nav_icon">add_circle_outline</i></a
        >
      </li>
      <li>
        <a href="/search" class="a_icon"
          ><i class="material-icons nav_icon">search</i></a
        >
      </li>
    </ul>
  </div>
</nav>
