@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

p {
  margin: 0;
  padding: 0;
}

li > a {
  padding: 0px;
}

h3 {
  margin: 0;
  font-weight: bold;
  font-size: 44px;
  font-family: "Dancing Script", cursive, Arial, Helvetica, sans-serif;
}

i:hover {
  color: #a4d7ec;
}

.nav-wrapper {
  background-color: #ff9288;
}

.nav_ul {
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 50px;
  width: 50px;
  margin-right: 5px;
  border: 1px solid black;
  border-radius: 50px;
  padding: 3px;
  opacity: 0.6;
}

.nav_title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav_icon {
  font-size: 40px;
}

.a_icon:hover {
  background-color: #ff9288;
}

@media only screen and (max-width: 600px) {
  .nav_larger {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }
}
