<div *ngIf="recipeForm">
  <form [formGroup]="recipeForm" (ngSubmit)="handleSubmit()">
    <div class="container editor_container">
      <div class="edit_div">
        <div class="heading_container">
          <h3>Edit Recipe</h3>
          <div class="button_row">
            <button
              (click)="updateFavorite($event, recipe!.id, recipe!)"
              class="btn-floating btn_base"
            >
              <i class="material-icons" [class.favorite_btn]="recipe?.favorite"
                >favorite</i
              >
            </button>
            <button
              (click)="deleteRecipe($event, recipe!.id, recipe!)"
              class="btn-floating btn_base delete_forever_btn"
            >
              <i class="material-icons">delete_forever</i>
            </button>
          </div>
        </div>

        <div class="input-field">
          <h4>Recipe Title</h4>
          <label for="title"></label>
          <input
            id="title"
            type="text"
            formControlName="title"
            placeholder="Title"
            required
          />
        </div>
        <div class="input-field">
          <h4>Serves How Many</h4>
          <label for="serves"></label>
          <input
            id="serves"
            type="text"
            formControlName="serves"
            placeholder="Serves How Many"
            required
          />
        </div>
        <div class="input-field">
          <h4>Time in Minutes</h4>
          <label for="time"></label>
          <input
            id="time"
            type="text"
            formControlName="time"
            placeholder="Time to Make"
            required
          />
        </div>
        <div class="input-field">
          <h4>Image URL</h4>
          <label for="imageSrc"></label>
          <input id="imageSrc" type="text" formControlName="imageSrc" />
        </div>

        <div class="arr_box">
          <h4>
            Ingredients
            <span class="tooltip_span"
              ><i
                class="material-icons"
                (mouseenter)="helpHover('tooltip_ing')"
                (mouseleave)="helpHover('tooltip_ing')"
                (click)="helpClick('tooltip_ing')"
                >help_outline</i
              ></span
            >
          </h4>
          <h5 class="tooltip hidden tooltip_ing">
            Edit the current ingredients by typing in each field or delete one
            by pressing the delete button. How they are displayed here is how
            they will be saved once the form is submitted.
          </h5>

          <div class="input_box" *ngIf="ingredients.length === 0">
            No Current Ingredients to Show
          </div>

          <div
            class="input_box ingredientsList"
            *ngFor="
              let ing of recipeForm.get('ingredients').controls;
              let i = index
            "
            formArrayName="ingredients"
          >
            <label for="ing-{{ i }}"></label>
            <input
              [formControlName]="i"
              class="input_line"
              type="text"
              id="ing-{{ i }}"
              value="{{ ing }}"
              placeholder="1 1/2 cup flour, 1 pinch salt"
            />

            <button class="delete_btn btn" (click)="removeIngredient(i)">
              Delete
            </button>
          </div>
          <button class="add_btn btn" (click)="addIngredients($event)">
            Add a new ingredient
          </button>
        </div>

        <div class="arr_box">
          <h4>
            Instructions
            <span class="tooltip_span"
              ><i
                class="material-icons"
                (mouseenter)="helpHover('tooltip_ins')"
                (mouseleave)="helpHover('tooltip_ins')"
                (click)="helpClick('tooltip_ins')"
                >help_outline</i
              ></span
            >
          </h4>
          <h5 class="tooltip tooltip_ins hidden">
            Edit the current instructions by typing in each field or delete one
            by pressing the delete button. How they are displayed here is how
            they will be saved once the form is submitted.
          </h5>

          <div class="input_box" *ngIf="instructions.length === 0">
            No Current Instructions to Show
          </div>

          <div
            class="instructionsList ins_note_container"
            *ngFor="
              let ins of recipeForm.get('instructions').controls;
              let i = index
            "
            formArrayName="instructions"
          >
            <label for="ins-{{ i }}"></label>
            <textarea
              [formControlName]="i"
              type="textarea"
              id="ins-{{ i }}"
              value="{{ ins }}"
              maxlength="255"
            ></textarea>

            <button
              class="delete_btn_ins_note btn"
              (click)="removeInstruction(i)"
            >
              Delete
            </button>
          </div>
          <button class="add_btn btn" (click)="addInstructions($event)">
            Add a new instruction
          </button>
        </div>

        <div class="arr_box">
          <h4>
            Notes
            <span class="tooltip_span"
              ><i
                class="material-icons"
                (mouseenter)="helpHover('tooltip_note')"
                (mouseleave)="helpHover('tooltip_note')"
                (click)="helpClick('tooltip_note')"
                >help_outline</i
              ></span
            >
          </h4>
          <h5 class="tooltip tooltip_note hidden">
            Edit the current notes by typing in each field or delete one by
            pressing the delete button. How they are displayed here is how they
            will be saved once the form is submitted.
          </h5>

          <div class="input_box" *ngIf="notes.length === 0">
            No Current Notes to Show
          </div>

          <div
            class="notesList ins_note_container"
            *ngFor="let note of recipeForm.get('notes').controls; let i = index"
            formArrayName="notes"
          >
            <label for="note-{{ i }}"></label>
            <textarea
              [formControlName]="i"
              type="textarea"
              id="note-{{ i }}"
              value="{{ note }}"
              maxlength="255"
            ></textarea>

            <button class="delete_btn_ins_note btn" (click)="removeNote(i)">
              Delete
            </button>
          </div>
          <button class="add_btn btn" (click)="addNotes($event)">
            Add a new note
          </button>
        </div>

        <div class="arr_box">
          <h4>
            Primary Tag
            <span class="tooltip_span"
              ><i
                class="material-icons"
                (mouseenter)="helpHover('tooltip_pri_tag')"
                (mouseleave)="helpHover('tooltip_pri_tag')"
                (click)="helpClick('tooltip_pri_tag')"
                >help_outline</i
              ></span
            >
          </h4>
          <h5 class="tooltip hidden tooltip_pri_tag">
            Tags allow for searching for recipes by category. The primary tag is
            the main tag for your recipe. It will be the one displayed on the
            recipe summary card.
          </h5>

          <label for="primaryTag"></label>
          <input
            id="primaryTag"
            type="text"
            formControlName="primaryTag"
            required
          />
        </div>

        <div class="arr_box">
          <h4>
            Additional Tags
            <span class="tooltip_span"
              ><i
                class="material-icons"
                (mouseenter)="helpHover('tooltip_tag')"
                (mouseleave)="helpHover('tooltip_tag')"
                (click)="helpClick('tooltip_tag')"
                >help_outline</i
              ></span
            >
          </h4>
          <h5 class="tooltip hidden tooltip_tag">
            Tags allow for searching for recipes by category. The primary tag
            will be added to the rest of the tags at the end. Edit the current
            tags by typing in each field or delete one by pressing the delete
            button. How they are displayed here is how they will be saved once
            the form is submitted.
          </h5>

          <div class="input_box" *ngIf="tags.length === 0">
            No Current Tags to Show
          </div>

          <div
            class="input_box tagsList"
            *ngFor="let tag of recipeForm.get('tags').controls; let i = index"
            formArrayName="tags"
          >
            <label for="tag-{{ i }}"></label>
            <input
              [formControlName]="i"
              class="input_line"
              type="text"
              id="tag-{{ i }}"
              value="{{ tag }}"
              placeholder="vegetarian, quick, salad, dinner"
            />

            <button class="delete_btn btn" (click)="removeTag(i)">
              Delete
            </button>
          </div>
          <button class="add_btn btn" (click)="addTags($event)">
            Add a new tag
          </button>
        </div>
      </div>
      <!--End of container div-->

      <button class="btn submit_btn" type="submit">
        Submit Updated Recipe
      </button>
    </div>
  </form>
</div>
