<form [formGroup]="recipeForm" (ngSubmit)="handleSubmit()">
  <div class="container editor_container">
    <div class="edit_div">
      <h3>Edit or Delete Current Info</h3>
      <div class="input-field">
        <label for="title">Title: </label>
        <input id="title" type="text" formControlName="title" required />
      </div>
      <div class="input-field">
        <label for="serves">Serves How Many: </label>
        <input id="serves" type="text" formControlName="serves" required />
      </div>
      <div class="input-field">
        <label for="time">Time in Minutes: </label>
        <input id="time" type="text" formControlName="time" required />
      </div>
      <div class="input-field">
        <label for="primaryTag">Primary Tag: </label>
        <input
          id="primaryTag"
          type="text"
          formControlName="primaryTag"
          required
        />
      </div>
      <div class="input-field">
        <label for="imageSrc">Image URL: </label>
        <input id="imageSrc" type="text" formControlName="imageSrc" />
      </div>
      <div class="input-field">
        <label for="favorite">Favorite (true, false): </label>
        <input id="favorite" type="text" formControlName="favorite" />
      </div>

      <h4>Current Ingredients</h4>
      <h5 class="tooltip">
        Edit the current ingredients by typing in each field or delete one by
        pressing the delete button. How they are displayed here is how they will
        be saved once the form is submitted.
      </h5>

      <div class="input_box" *ngIf="currentIngredients.length === 0">
        No Current Ingredients to show
      </div>

      <div
        class="input_box ingredientsList"
        *ngFor="let ing of currentIngredients; let i = index"
      >
        <label for="ing-{{ i }}"></label>
        <input
          class="input_line"
          type="text"
          id="ing-{{ i }}"
          value="{{ ing }}"
        />

        <button class="delete_btn btn" (click)="removeIngredient(i)">
          Delete
        </button>
      </div>
    </div>

    <div formArrayName="ingredients" class="ingredients_container">
      <h4>Add Ingredients:</h4>
      <div *ngFor="let ingredient of ingredients.controls; let i = index">
        <div class="input-field">
          <label for="ingredient-{{ i }}"></label>
          <input
            id="ingredient-{{ i }}"
            type="text"
            [formControlName]="i"
            placeholder="1 1/2 cup flour"
          />
        </div>
      </div>
      <button (click)="addIngredients($event)">+ Add another ingredient</button>
    </div>

    <div class="add_div">
      <h3>Add Additional Info</h3>

      <div formArrayName="instructions" class="instructions_container">
        <h4>Add Instructions:</h4>
        <div *ngFor="let instruction of instructions.controls; let i = index">
          <label for="instruction-{{ i }}"></label>
          <textarea
            class="instruction_textbox"
            id="instruction-{{ i }}"
            type="textarea"
            [formControlName]="i"
          ></textarea>
        </div>
        <button (click)="addInstructions($event)">
          + Add another instruction
        </button>
      </div>

      <div formArrayName="notes" class="instructions_container">
        <h4>Add Notes:</h4>
        <div *ngFor="let note of notes.controls; let i = index">
          <label for="note-{{ i }}"></label>
          <textarea
            class="instruction_textbox"
            id="note-{{ i }}"
            type="textarea"
            [formControlName]="i"
          ></textarea>
        </div>
        <button (click)="addNotes($event)">+ Add another note</button>
      </div>

      <div formArrayName="tags">
        <h4>Add Tags:</h4>
        <div *ngFor="let tag of tags.controls; let i = index">
          <div class="input-field">
            <label for="tag-{{ i }}"></label>
            <input
              id="tag-{{ i }}"
              type="text"
              [formControlName]="i"
              placeholder="vegetarian, quick, salad, dinner"
            />
          </div>
        </div>
        <button (click)="addTags($event)">+ Add another tag</button>
      </div>
    </div>
    <button type="submit">Submit</button>
  </div>
</form>
