@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

h3 {
  margin: 0;
  font-family: "Dancing Script", cursive, Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-decoration: underline;
}

textarea {
  height: 100px;
  border-radius: 10px;
}

.editor_container {
  margin-top: 10px;
  margin-bottom: 100px;
  max-width: 600px;
}

.heading_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 75px;
}

.input_box {
  display: flex;
}

.ins_note_container {
  margin-bottom: 1rem;
}

.btn {
  border-radius: 10px;
}

.btn_base {
  background-color: #b3b3b3;
}

.favorite_btn {
  background-color: #ff625e;
}

.delete_forever_btn {
  background-color: rgb(66, 66, 66);
  margin-left: 10px;
}

.delete_btn {
  background-color: hsl(0, 100%, 70%);
  font-weight: bold;
}

.delete_btn_ins_note {
  background-color: hsl(0, 100%, 70%);
  font-weight: bold;
  width: 100%;
}

.add_btn {
  background-color: hsl(115, 50%, 50%);
  font-weight: bold;
  width: 100%;
}

.submit_btn {
  background-color: hsl(204, 70%, 50%);
  margin-top: 30px;
  font-weight: bold;
  width: 100%;
}

.tooltip_span {
  cursor: help;
}

.tooltip {
  color: darkgrey;
  font-size: smaller;
}

.hidden {
  display: none;
}
