.editor_container {
  margin-bottom: 100px;
}

/* .edit_div {
  background-color: lightblue;
}

.add_div {
  background-color: lightgreen;
} */

.input_box {
  display: flex;
}

.delete_btn {
}

.tooltip {
  color: darkgrey;
  font-size: smaller;
}
