<div *ngIf="recipe">
  <div class="card">
    <a href="">
      <div class="card-image">
        <img class="card_image" src="{{ recipe.imageSrc }}" />
        <a href="test" class="btn-floating halfway-fab favorite_btn"
          ><i class="material-icons">favorite</i></a
        >
      </div>

      <div class="card-content">
        <span class="card-title">{{ recipe.title }}</span>

        <div class="card_info_container">
          <div class="card_info">
            <i class="material-icons card_info_icon">schedule</i
            ><span>{{ timeFormatted }}</span>
          </div>
          <div class="card_info">
            <i class="material-icons card_info_icon">restaurant_menu</i
            ><span>{{ recipe.primaryTag }}</span>
          </div>
          <div class="card_info">
            <i class="material-icons card_info_icon">people </i
            ><span>{{ recipe.serves }}</span>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
