<div *ngIf="recipe">
  <div class="card">
    <div class="card-image">
      <a href="/recipe/{{ recipe.id }}">
        <img
          (error)="imageError($event)"
          class="card_image"
          src="{{ recipe.imageSrc }}"
        />
      </a>

      <button
        (click)="updateFavorite($event, recipe.id, recipe)"
        class="btn-floating halfway-fab btn_base"
      >
        <i class="material-icons" [class.favorite_btn]="recipe.favorite"
          >favorite</i
        >
      </button>
    </div>

    <a href="/recipe/{{ recipe.id }}">
      <div class="card-content" style.backgroundColor="{{ backgroundColor }}">
        <span class="card-title">{{ recipe.title }}</span>

        <div class="card_info_container">
          <div class="card_info">
            <i class="material-icons card_info_icon">schedule</i
            ><span class="info">{{ timeFormatted }}</span>
          </div>
          <div class="card_info">
            <i class="material-icons card_info_icon">restaurant_menu</i
            ><span class="info">{{ recipe.primaryTag }}</span>
          </div>
          <div class="card_info">
            <i class="material-icons card_info_icon">people </i
            ><span class="info">{{ recipe.serves }}</span>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
