h4 {
  margin-bottom: 30px;
}

.recipePage {
  max-width: 800px;
}

.active {
  color: inherit;
}

.recipePage {
  margin-bottom: 100px;
}

.image_container {
  margin-bottom: 50px;
  margin-top: 50px;
  display: flex;
}

.image_upload {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.ingredients_container {
  margin-bottom: 50px;
}

.ingredient_container {
  border: solid black 1px;
  margin-bottom: 10px;
  padding: 2px;
}

.ingredient_box {
  margin-top: 10px;
  margin-bottom: 10px;
}

.ingredient_number {
  font-weight: bold;
  text-decoration: underline;
  color: black;
}

.instructions_container {
  margin-bottom: 50px;
}

.instruction_textbox {
  height: 100px;
  width: 100%;
}
