<div class="container-fluid wrapper">
  <div class="container header_container">
    <form>
      <div class="searchbar">
        <input
          type="text"
          placeholder="Search here..."
          [formControl]="searchQuery"
        />

        <button
          (click)="submitSearch($event)"
          class="btn search_btn"
          type="submit"
        >
          <i class="material-icons search_icon">search</i>
        </button>
      </div>
    </form>

    <div class="button_container">
      <h3>See Results By:</h3>
      <div class="buttons_row" (click)="btnRowClickHandler($event)">
        <button
          class="btn selector_btns by_title_btn btn_active"
          data-name="title_btn"
          type="button"
        >
          Title
        </button>

        <button
          class="btn selector_btns by_tag_btn"
          data-name="tag_btn"
          type="button"
        >
          Tags
        </button>

        <button
          class="btn selector_btns by_ingredient_btn"
          data-name="ingredient_btn"
          type="button"
        >
          Ingredients
        </button>
      </div>
    </div>

    <!-- <div *ngIf="!searchClicked">
      <p class="nothing_found_msg">
        Enter a term in the search bar above and press enter or click the search
        button. The buttons below sort the results by looking in the recipe's
        title, tags, or ingredients.
      </p>
    </div> -->
  </div>

  <div class="results_by_title_container result_container">
    <div class="cards_container" *ngIf="recipesByTitle && !loadingByTitle">
      <div *ngFor="let card of recipesByTitle" class="card_container">
        <app-card-details [recipe]="card"></app-card-details>
      </div>
    </div>

    <div
      class="nothing_found_container"
      *ngIf="recipesByTitle?.length === 0 && !loadingByTitle"
    >
      <h5 class="nothing_found_heading">
        No Recipes Found by Title! Please try another search term.
      </h5>

      <p class="nothing_found_msg">
        This search looks for anything in the recipe's title.
      </p>
    </div>
  </div>

  <div class="results_by_tags_container result_container hidden">
    <div class="cards_container" *ngIf="recipesByTag && !loadingByTag">
      <div *ngFor="let card of recipesByTag" class="card_container">
        <app-card-details [recipe]="card"></app-card-details>
      </div>
    </div>

    <div
      class="nothing_found_container"
      *ngIf="recipesByTag?.length === 0 && !loadingByTag"
    >
      <h5 class="nothing_found_heading">
        No Recipes Found by Tags! Please try another search term.
      </h5>

      <p class="nothing_found_msg">
        This search looks for anything in the recipe's tags.
      </p>
    </div>
  </div>

  <div class="results_by_ingredients_container result_container hidden">
    <div
      class="cards_container"
      *ngIf="recipesByIngredient && !loadingByIngredient"
    >
      <div *ngFor="let card of recipesByIngredient" class="card_container">
        <app-card-details [recipe]="card"></app-card-details>
      </div>
    </div>

    <div
      class="nothing_found_container"
      *ngIf="recipesByIngredient?.length === 0 && !loadingByIngredient"
    >
      <h5 class="nothing_found_heading">
        No Recipes Found by Ingredients! Please try another search term.
      </h5>

      <p class="nothing_found_msg">
        This search looks for anything in the recipe's ingredient list.
      </p>
    </div>
  </div>

  <!-- Show if any of the requests is still pending -->
  <div
    class="cards_container"
    *ngIf="loadingByTitle || loadingByTag || loadingByIngredient"
  >
    <div
      *ngFor="let card of loadingCards; let i = index"
      class="card_container"
    >
      <app-skeleton-loading-cards
        [herokuWarning]="i === 0"
      ></app-skeleton-loading-cards>
    </div>
  </div>
</div>
